root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 100
tab_width = 4
trim_trailing_whitespace = true

[{*.mts,*.ts}]
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_force_semicolon_style = true
ij_typescript_spaces_within_imports = true
ij_typescript_spaces_within_object_literal_braces = true

[{*.yml,*.yaml}]
indent_size = 2
indent_style = space
ij_yaml_spaces_within_braces = false

[*.json5]
ij_json_keep_trailing_comma = true
ij_json_array_wrapping = normal
max_line_length = 120
